<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Корзина товаров</title>
</head>
<body>
<div align="center">
    <h1>Корзина товаров</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Название товара</th>
            <th>Количество товара</th>
            <th>Цена за единицу товара</th>
            <th>Итого по данному товару</th>
            <th>Удаление товара</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${cartList}">
            <td th:text="${product.title}">Название товара</td>
            <td th:text="${product.quantity}">Количесвто товара</td>
            <td th:text="${product.price}">Цена за единицу товара</td>
            <td th:text="${product.totalPrice}">Итого по данному товара</td>

            <td>
                <a th:href="@{'/cart/delete/' + ${product.title}}">Удалить товар</a>
                &nbsp;&nbsp;&nbsp;
            </td>
        </tr>
        </tbody>
    </table>
    <br></br>
    <table border="1" cellpadding="10">
        <tbody>
            <tr >
               <td>Всего стоимость корзины составляет</td>
                <td th:text ="${price}"></td>
            </tr>
        </tbody>
    </table>

    <!--    <div>-->
<!--        Total Items: [[${totalItems}]]-->
<!--        <a th:if="${currentPage > 1}" th:href="@{'/product/page/1'}">First</a>-->
<!--        <span th:unless="${currentPage > 1}">First</span>-->
<!--        <a th:if="${currentPage > 1}" th:href="@{'/product/page/' + ${currentPage - 1}}">Previous</a>-->
<!--        <span th:unless="${currentPage > 1}">Previous</span>-->
<!--        <span th:each="i : ${#numbers.sequence(1, totalPages)}">-->
<!--        <a th:if="${currentPage != i}" th:href="@{'/product/page/' + ${i}}">[[${i}]]</a>-->
<!--        <span th:unless="${currentPage != i}">[[${i}]]</span>-->
<!--        &nbsp;-->
<!--    </span>-->
<!--        <a th:if="${currentPage < totalPages}" th:href="@{'/product/page/' + ${currentPage + 1}}">Next</a>-->
<!--        <span th:unless="currentPage < totalPages">Next</span>-->
<!--        <a th:if="${currentPage < totalPages}" th:href="@{'/product/page/' + ${totalPages}}">Last</a>-->
<!--        <span th:unless="${currentPage < totalPages}">Last</span>-->
<!--    </div>-->
    <br></br>
    <span>
       <a th:href="@{'/product/listProducts'}">Вернуться к перечню товаров</a>
    </span>
    <br></br>
    <span>
       <a th:href="@{'/shop'}">Оформить заказ</a>
    </span>

</div>
</body>
</html>